header,
nav,
footer {
    background-color: white;
    color: black;
    text-align: center;
    /*centers text*/
    width: 100%;
    /*ensures background color spans full width*/
}

nav a {
    color:blueviolet;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: backdrop;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
 background-color: orange;
}

section {
    border: 1px solid black;
    /*maybe change this color*/
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.1);
}

.aboutbox {
    background-color: pink;
}

.imageClass {
    width: 50%; 
    height: auto; 
    object-fit: fill; 
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
