.section1 {
    border: 5px solid black;
    padding: 20x;
    margin: auto;
    text-align: center;
    background-color: hotpink;
}

header,
nav,
footer {
    background-color: white;
    color: black;
    text-align: center;
}

main {
background-color:#6666ff;
background-image:#ff6666;
color: white;

}

.roundedimage {
    width:200px;
    height:200px;
    border-radius: 75%;
    overflow: hidden;
    margin:auto;


}

.centercontent {
    display:block;
    flex-direction:block;
    align-items:center;
    justify-content:center;
    text-align:center;

}

.aboutbox {
    Border: 2px solid white;
    padding: 20px;
    margin: 20px auto;
    width: 70px;
    text-align: white;
    background-color: #111;
    color: white;
    border-radius: 8px



}