header,
nav,
footer {
    background-color: white;
    color: black;
    text-align: center;
    /*centers text*/
    width: 100%;
    /*ensures background color spans full width*/
}

nav a {
    color:blueviolet;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: backdrop;
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
 background-color: orange;
 justify-content: center;
 align-items: center;
 display:flex;
 flex-direction:column;


}


.contact-form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px green;
    width: 400px;

}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;

}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #857471;
}

.contact-form input[type="color"],
.contact-form input[type="range"] {
    padding: 8px;
}

.contact-form button {
    background: lightgreen;
    color: black;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    width: 100%;
    padding: 10px;
    margin-top: 5px;

}

.contact-form button:hover {
    background-color:blueviolet;

}

.inline-options {
    display: flex;
    gap: 10px;

}